@{
    ViewBag.Title = "Home";
}

<div class="row flex-md-row-reverse">
    <div class="col-md-6">
        <div class="border m-2 p-2 rounded">
            <label class="col-form-label-lg">Category</label>
            <input type="text" class="form-control" />
            <button class="btn btn-secondary mt-2 float-right">Add</button>
        </div>
        <div class="border m-2 p-2 rounded form-group">
            <label class="col-form-label-lg">Category</label>
            <select class="form-control"></select>
            <label class="col-form-label-lg">Question</label>
            <input type="text" class="form-control"/>
            <label class="col-form-label-lg">Answer</label>
            <textarea class="form-control"></textarea>
            <button class="btn btn-secondary mt-2 float-right">Add</button>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>